<!DOCTYPE html>
<html class="no-js" lang="zxx"> 
 
<head>
      <%- include('../partials/head.ejs'); %>  

         <style>
              .gridding{ 
                  min-width:100px;
                  display:grid;
                  margin-top:20px;
                  margin-bottom:20px;
                  grid-gap:20px; 
                  grid-template-columns:repeat(auto, minmax(250px, 3fr)); 
              }  

              .gridding button{ 
                width:100%; 
                border:none;
                color:black;
                font-weight:bold;
                background-color:lightgrey; 
                transition:ease-in-out 0.3s ;
                padding:15px;
              }   

              .gridding button:hover{
                 background-color:grey; 
                 color:white;
              }

         </style>
</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <%- include('../partials/header.ejs'); %>

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                    <div style="margin-top:80px" class="breadcrumbs-content">
                        <h1 class="page-title">Track Your Transactions</h1>
                        <ul class="breadcrumb-nav">
                            <li><a href="index.html">Home</a></li>
                            <li>Transaction Tracker</li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Account Signup Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="card col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                        <div class="card-body">
                            <div class="title">  <br><br>
                                <h3>Start Tracking Now</h3>
      <p>Use the form below to start tracking your transactions securely.</p>  
                            </div>    
                            <p>Choose a blockchain network</p>
                            <div class="gridding">
                                 <button>Bitcoin</button> 
                                 <button>Etherium</button>
                                 <button>Solana</button>
                            </div> 
                            
                    <form class="login-form inner-content" method="post">
                            <div class="input-head"> 
                                <div class="form-group input-group">
                                    <label><i class="lni lni-wallet"></i></label>
                                    <input class="form-control" type="text" placeholder="Enter Wallet Address" required>
                                </div>
                                
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Start Tracking</button>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Signup Area -->

    <!-- Start Footer Area -->   <%- include('../partials/footer.ejs'); %>
    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/count-up.min.js"></script>
    <script src="assets/js/main.js"></script>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'8fdef4a349897767',t:'MTczNjIwMDU2MS4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='../../cdn-cgi/challenge-platform/h/g/scripts/jsd/849bfe45bf45/maind41d.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8fdef4a349897767","version":"2024.10.5","r":1,"serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"9a6015d415bb4773a0bff22543062d3b","b":1}' crossorigin="anonymous"></script>
</body>


</html>